body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
/*Header*/
header{
  display: flex;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  top: 0px;
}
img{
  padding-left: 10px;
  height: 50px;
}
nav{
  flex-grow: 1;
  text-align: right;
  padding: 20px 10px;
}
a{
  padding-right: 15px;
  color: seashell;
}
/*Mission*/
.landing{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(./images/img-mission-background.jpg);
}
.mission{
  display: block;
  text-align: center;
  background-color: black;
  width: 100%;
}
/*Teas*/
.featured{
  padding-top: 70px;
}
.tea img{
  height: 200px;
  width: 300px;
  display: block;
  padding-bottom: 10px;
}
.tea{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 300px;
  padding: 20px 10px;
}
/*Locations*/
.location{
  background-image: url(./images/img-locations-background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  padding-top: 5px;
}
.address{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 15px 20px;
  width: 300px;
  padding: 15px 20px;
  background-color: black;
  opacity: 1;
}
.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*Contact*/
.contact{
  height: 200px;

}
footer{
  text-align: left;
  padding-left: 20px;
}
